h1 {
  font-weight: lighter;
  font-size: 80px
}

h2 {
  font-weight: lighter;
  font-size: 1.75rem;
}

h4 {
  font-weight: lighter;
  font-size: 1.25rem;
  margin-bottom: 0px;
}

ol li {
  margin-bottom: 16px;
  font-weight: lighter;
}

ol {
  margin-bottom: 40px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
